/*
COLORS
Primary: #2066F0
Primary light: #6695CA
Primary dark: #202226
Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc
Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999
*/

:root {
  --color-primary: #2066f0;
  --color-primary-light: #6695ca;
  --color-primary-dark: #202226;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);

  --line: 1px solid var(--color-grey-light-2);
}

$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1110px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

//GLOBAL RESET
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(
    to bottom right,
    var(--color-grey-light-2),
    var(--color-grey-light-2)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
